# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo

Doc/Format/NEF/~$F format.docx
bin/*
Source/RawParser/.localhistory/*
Doc/Format/NEF/DSC_8286.tiff
*.vcxproj
*.filters
*.user
*.db
Source/RawParserUWP.VC.VC.opendb
Source/RawParser/BundleArtifacts/*
Source/RawParser/project.lock.json
Source/RawParser/bin/*
Source/RawParser/obj/*
Source/RawParser/AppPackages/*
*.vspx
*/.vs/*