/* General and default styles for articles */

html {
	overflow-y: scroll;
}  /* 2009-11-21 - Forces scroll bar on RHS when not IE */
body {
	margin: 0 30px;
} /* 2010-01-05 */
img {
	border: 0;
}
h1, h2, h3, h4 {
	font: bold 100% Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 200%;
	text-align: center;
}
h2 {
	font-size: 140%;
}
h3 {
	font-size: 115%;
}
td > h1:first-child, td > h2:first-child, td > h3:first-child, td > h4:first-child, td > p:first-child {
	margin-top: 0;
} /* Firebird */

/* This is temporary. Do not use further. */
div.quote {
	float: right;
	width: 30%;
	margin: 0.5em 0 0.5em 1em;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
}
div.quoteleft {
	float: left;
	width: 200px;
	margin: 0.5em 0;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
}
div.quoteright {
	float: right;
	width: 200px;
	margin: 0.5em 0;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
}
div.quote > p:first-child {
	margin-top: 0;
}
div.marginleft {
	margin: 0 0 0 250px;
}
div.marginright {
	margin: 0 250px 0 0;
}
div.quote ul.linklist, div.quoteleft ul.linklist, div.quoteright ul.linklist {
	margin: 0;
}
div.quote li, div.quoteleft li, div.quoteright li {
	margin: 0.4em 0;
}
/* End of temporary stuff. */

div.section {
	margin-left: 3em;
}
blockquote {
	font-style: italic;
}
ul {
	list-style-type: circle;
	padding: 0;
	margin: 0 0 0 2.7em;
}
ol {
	padding: 0;
	margin: 0 0 0 3em;
}
li {
	margin: 0.7em 0;
}
ul.linklist {
	list-style-type: none;
	margin: 0 0 1em 2em;
}
ul.linklist li {
	margin: 0.4em 0;
}
div.sidenote ul.linklist, #sidelinks ul.linklist {
	margin: 1em 0;
}
div.sidenote li, #sidelinks li {
	margin: 0.4em 0;
}
span.doublequote {
	font-weight: bold;
	font-size: larger;
}
ul.blocklist {
	list-style-type: none;
	margin: 0 0 0 2em;
}
ul.blocklist li {
}
ul.buttons {
	list-style-type: none;
	margin: 0;
}
ul.buttons li {
	font: normal 82% Arial, Helvetica, sans-serif;
	width: 180px;
	padding: 0;
	margin: 0 0 -4px 0;
} /* Neg margin for IE 5 */
div.sidenote {
	float: right;
	width: 30%;
	margin: 0.5em 0 0.5em 1em;
	padding: 1em;
	border-style: solid;
	border-width: 1px;
}
div.sidenote blockquote {
	margin: 1em 0 0 0;
}
p.quote {
	margin: 1em 0 0 0;
}
div.sidenote > p:first-child {
	margin-top: 0;
}
p.quotee {
	margin: 0;
}
a:hover {
	color: #FF0000;
	background: #FFEEEE;
} /* This is changed for a dark grey/black background later */
a.button {
	width: 180px;
	display: block;
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 36px;
}
table.widevisible1 {
}
table.wideinvisible1 {
	border-collapse: collapse;
}
table.widevisible1 th, table.wideinvisible1 th {
	padding: 5px;
	vertical-align: top;
}
table.widevisible1 td, table.widevisible1 th, table.wideinvisible1 td, table.wideinvisible1 th {
	padding: 4px;
	vertical-align: top;
}
table.widevisible1 td, table.widevisible1 th {
	border: solid 1px #aaaaaa;
}
table.widevisible1 th, table.wideinvisible1 th {
	font: bold 90% Arial, sans-serif;
}
table.defaulttop {
}
table.defaulttop td, table.defaulttop th {
	vertical-align: top;
}
td.cellnormal, th.cellnormal {
	padding: 5px;
	vertical-align: top;
}
hr {
	height: 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	margin: 0.4em 0 0 0;
}
img.centre {
	text-align: center;
}
p.centre {
	text-align: center;
}
img.right, p.right {
	float: right;
	margin: 1em 0 1em 1em;
}
img.left, p.left {
	float: left;
	margin: 1em 1em 1em 0;
}
span.emphasis {
	color: #DD0000;
}
p.emphasis {
	color: #DD0000;
	text-align: center;
}
span.assertion {
	color: #007777;
	font-style: italic;
}
p.assertion {
	color: #007777;
	font-style: italic;
	text-align: center;
}
span.joke {
	color: #00AA00;
}
p.joke {
	color: #00AA00;
	text-align: center;
}
span.species {
	font-style: italic;
}
div.endbox {
	clear: both;
	line-height: 0.1px;
}
div.endboth {
	clear: both;
	line-height: 0.1px;
}
div.endright {
	clear: right;
	line-height: 0.1px;
}
div.endleft {
	clear: left;
	line-height: 0.1px;
}
#content {
	border-style: solid;
	line-height: 1.2;
} /* line-height for IE 6 "peekaboo" bug. */
#sidebar {
	width: 180px;
	border-style: solid;
	padding: 1em 0;
}
#sitebuttons {
	background-color: #000000;
	background-repeat: no-repeat;
	width: 180px;
}
#thumbnail, #logo {
	text-align: center;
	margin-top: 1.5em;
}
#admin {
	margin-top: 1.5em;
}
#created, #updated, #copyright {
	font: normal 82% Arial, Helvetica, sans-serif;
	margin: 1em;
}
#footer {
	clear: both;
	line-height: 0.1px;
} /* IE 6 truncated float problem, possibly related to "peekaboo". */
#sidelinks {
	font: normal 82% Arial, Helvetica, sans-serif;
	margin-top: 1.5em;
	padding: 1em 0;
}
#sidelinks p {
	margin: 0;
	padding: 0;
}
#sidelinks a {
	padding: 0.4em 0.5em 0.4em 1em;
	text-decoration: none;
	display: block;
}

/* Colour-scheme styles. Except for #black, the main text is default browser colour. */
/* #black has been redesigned to be used for the new framework pages of 2009 */

#red {
	background: #FFDDDD;
}
#green {
	background: #DDFFDD;
}
#blue {
	background: #DDDDFF;
}
#cyan {
	background: #BBFFFF;
}
#magenta {
	background: #FFBBFF;
}
#yellow {
	background: #FFFFBB;
}
#grey {
	background: #DDDDDD;
}
#black {
	background: #333 url("../assets2009/background-darkgrey.png");
	color: #FFFFFF;
} /* 2009-11-21 */
#red  h1, #red  h2, #red  h3, #red  h4 {
	color: #770000;
}
#green h1, #green h2, #green h3, #green h4 {
	color: #007700;
}
#blue h1, #blue h2, #blue h3, #blue h4 {
	color: #444444;
}
#cyan h1, #cyan h2, #cyan h3, #cyan h4 {
	color: #005555;
}
#magenta h1, #magenta h2, #magenta h3, #magenta h4 {
	color: #550055;
}
#yellow h1, #yellow h2, #yellow h3, #yellow h4 {
	color: #555500;
}
#grey h1, #grey h2, #grey h3, #grey h4 {
	color: #444444;
}
#black h1, #black h2, #black h3, #black h4, #black th {
} /* 2009-11-21 */
#red #content {
	background: #FFF7F7;
	border-color: #770000;
}
#green #content {
	background: #F7FFF7;
	border-color: #007700;
}
#blue #content {
	background: #F7F7FF;
	border-color: #000077;
}
#cyan #content {
	background: #F7FFFF;
	border-color: #005555;
}
#magenta #content {
	background: #FFF7FF;
	border-color: #550055;
}
#yellow #content {
	background: #FFFFF7;
	border-color: #555500;
}
#grey #content {
	background: #F7F7F7;
	border-color: #444444;
}
#black #content {
	background: #333;
	border-color: #777;
} /* 2009-11-21 */
#red #sidebar {
	border-color: #770000;
}
#green #sidebar {
	border-color: #007700;
}
#blue #sidebar {
	border-color: #000077;
}
#cyan #sidebar {
	border-color: #005555;
}
#magenta #sidebar {
	border-color: #550055;
}
#yellow #sidebar {
	border-color: #555500;
}
#grey #sidebar {
	border-color: #444444;
}
#black #sidebar {
	border-color: #777;
	color: #ccc;
} /* 2009-11-21 */
#red #wrapper {
	border-color: #770000;
}
#green #wrapper {
	border-color: #007700;
}
#blue #wrapper {
	border-color: #000077;
}
#cyan #wrapper {
	border-color: #005555;
}
#magenta #wrapper {
	border-color: #550055;
}
#yellow #wrapper {
	border-color: #555500;
}
#grey #wrapper {
	border-color: #444444;
}
#black #wrapper {
	border-color: #777;
} /* 2009-11-21 */
#red a.button:link, #red a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_red_white.gif);
}
#green a.button:link, #green a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_green_white.gif);
}
#blue a.button:link, #blue a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_blue_white.gif);
}
#cyan a.button:link, #cyan a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_cyan_white.gif);
}
#magenta a.button:link, #magenta a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_magenta_white.gif);
}
#yellow a.button:link, #yellow a.button:visited {
	color: #0000FF;
	background: #DDFFDD url(button_yellow_white.gif);
}
#grey a.button:link, #grey a.button:visited {
	color: #0000FF;
	background: #DDDDDD url(button_grey_white.gif);
}
#black a.button:link, #black a.button:visited {
	color: #eef;
	background: #333;
} /* 2009-11-21 */
#red a.button:hover, #green a.button:hover, #blue a.button:hover, #cyan a.button:hover, #magenta a.button:hover, #yellow a.button:hover, #grey a.button:hover, #black a.button:hover {
	color: #FFFFFF;
	background: none;
}
#red hr {
	border-color: #770000;
}
#green hr {
	border-color: #007700;
}
#blue hr {
	border-color: #000077;
}
#cyan hr {
	border-color: #005555;
}
#magenta hr {
	border-color: #550055;
}
#yellow hr {
	border-color: #555500;
}
#grey hr {
	border-color: #444444;
}
#black hr {
	border-color: #777;
} /* 2009-11-21 */
#red div.sidenote, #red #sidelinks {
	background: #FFEEEE;
	border-color: #770000;
}
#green div.sidenote, #green #sidelinks {
	background: #EEFFEE;
	border-color: #007700;
}
#blue div.sidenote, #blue #sidelinks {
	background: #EEEEFF;
	border-color: #000077;
}
#cyan div.sidenote, #cyan #sidelinks {
	background: #EEFFFF;
	border-color: #005555;
}
#magenta div.sidenote, #magenta #sidelinks {
	background: #FFEEFF;
	border-color: #550055;
}
#yellow div.sidenote, #yellow #sidelinks {
	background: #FFFFEE;
	border-color: #555500;
}
#grey div.sidenote, #grey #sidelinks {
	background: #EEEEEE;
	border-color: #444444;
}
#black div.sidenote, #black #sidelinks {
	background: #000000;
	border-color: #777;
} /* 2009-11-21 */
#red p.quotee {
	color: #770000;
}
#green p.quotee {
	color: #007700;
}
#blue p.quotee {
	color: #444444;
}
#cyan p.quotee {
	color: #005555;
}
#magenta p.quotee {
	color: #550055;
}
#yellow p.quotee {
	color: #555500;
}
#grey p.quotee {
	color: #444444;
}
#black p.quotee {
	color: #FFFFFF;
}
#sidelinks a:link, #sidelinks a:visited {
	color: #00f;
} /* All colors (except black, see below) */
#sidelinks a:hover {
	color: #fff;
	background: #000;
} /* All colors (except black, see below) */

/* These are styles that need special treatment on dark grey or black */
#black a:link {
	color: #eef;
}
#black a:visited {
	color: #fef;
}
#black a:hover {
	color: #f00;
	background: #fff;
}
#black #sidelinks a:link, #black #sidelinks a:visited {
	color: #bbf;
}
#black #sidelinks a:hover {
	color: #f00;
	background: #fff;
}
#black span.emphasis {
	color: #f77;
}
#black p.emphasis {
	color: #f77;
	text-align: center;
}
#black #sidebar {
	background: #333;
} /* 2009-11-21 */
/* This is temporary. Do not use further. */
#red div.quote, #red div.quoteleft, #red div.quoteright {
	background: #FFEEEE;
	border-color: #770000;
}
#green div.quote, #green div.quoteleft, #green div.quoteright {
	background: #EEFFEE;
	border-color: #007700;
}
#blue div.quote, #blue div.quoteleft, #blue div.quoteright {
	background: #EEEEFF;
	border-color: #000077;
}
#cyan div.quote, #cyan div.quoteleft, #cyan div.quoteright {
	background: #EEFFFF;
	border-color: #005555;
}
#magenta div.quote, #magenta div.quoteleft, #magenta div.quoteright {
	background: #FFEEFF;
	border-color: #550055;
}
#yellow div.quote, #yellow div.quoteleft, #yellow div.quoteright {
	background: #FFFFEE;
	border-color: #555500;
}
#grey div.quote, #grey div.quoteleft, #grey div.quoteright {
	background: #EEEEEE;
	border-color: #444444;
}
#black div.quote, #black div.quoteleft, #black div.quoteright {
	background: #000000;
	border-color: #FFFFFF;
}
/* End of temporary stuff. */

/* Layout styles */

div.fixedwidth {
	width: 800px;
	margin: 0 auto;
} /* 2009-11-21 */
#twoleftstandard #wrapper {
}
#twoleftstandard #sidebar {
	float: left;
	border-width: 1px;
}
#twoleftstandard #content {
	margin-left: 181px;
	border-width: 1px;
	padding: 15px;
}
#twoleftstandard #pageheader {
	padding: 0.5em 0 0 0;
}
#twoleftstandard #sitebuttons {
	background-image: url(buttons_back5.jpg);
}
#twoleftstandard #splitstandard div.sidenote {
	float: right;
	clear: right;
	width: 200px;
	margin: 0.5em 0;
}
#twoleftstandard #splitstandard div.split {
	margin: 0 250px 0 0;
}
#tworightstandard #wrapper {
}
#tworightstandard #sidebar {
	float: right;
	border-width: 1px;
}
#tworightstandard #content {
	border-width: 1px;
	margin-right: 181px;
	padding: 15px;
}
#tworightstandard #pageheader {
	padding: 0.5em 0 0 0.5em;
	text-align: left;
}
#tworightstandard #sitebuttons {
	background-image: url(buttons_back9.jpg);
}
#tworightstandard #splitstandard div.sidenote {
	float: left;
	clear: left;
	width: 200px;
	margin: 0.5em 0;
}
#tworightstandard #splitstandard div.split {
	margin: 0 0 0 250px;
}
#twoleftvertical #wrapper {
	margin-left: 181px;
	border-style: solid;
	border-width: 0 0 0 1px;
	padding: 1em 0 0 0;
} /* 2009-11-21 */
#twoleftvertical #sidebar {
	float: left;
	border-width: 1px;
	margin-top: 3em;
} /* 2009-11-21 */
#twoleftvertical #content {
	padding: 15px;
	border-width: 1px 1px 1px 0;
}
#twoleftvertical #pageheader {
	margin: 0.5em 0 0.5em 0.5em;
	text-align: left;
}
#twoleftvertical #sitebuttons {
	background-image: url(buttons_back2.jpg);
}
#twoleftvertical #splitstandard div.sidenote {
	float: right;
	clear: right;
	width: 200px;
	margin: 0.5em 0;
}
#twoleftvertical #splitstandard div.split {
	margin: 0 250px 0 0;
}

/* © Copyright Barry Pearson 2003 */
/* End */
